.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}


.page-header.navbar .page-logo .logo-default {
    margin: 19px 10px 0;
}

.span-tag-60-25 {
    width: 60px !important;
    font-size: 11px !important;
    padding: 7px 8px !important;
    display: inline-block !important;
    height: 25px !important;
}

.layui-layer-content .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
}

.layui-layer-content .select2-container--default.select2-container--disabled .select2-selection--single,
.layui-layer-content .select2-container--bootstrap.select2-container--disabled .select2-selection,
.layui-layer-content .select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
    background-color: #fff;
}

.layui-layer-content .select2-container--disabled .select2-selection__arrow {
    display: none;
}

/* layer porlet fix */
.layui-layer-content .portlet {
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 15px;
    background-color: #fff;
}

.layui-layer-content .portlet.light {
    padding: 12px 15px 0;
}

/* dropdown-menu-new */
.dropdown-menu-new {
    box-shadow: 0 0 10px rgba(86, 96, 117, 0.7);
    margin-top: -2px !important;
}

.dropdown-menu-new:after {
    top: -6px;
    width: 0;
    height: 0;
    left: 60px;
    content: " ";
    display: block;
    position: absolute;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-left-style: inset; /*FF fixes*/
    border-right-style: inset; /*FF fixes*/
}

.dropdown-menu-new > li {
    margin: 0 0 2px 0;
}

.dropdown-menu-new > li:first-child {
    margin: 2px 0 2px 0;
}

.dropdown-menu-new > li a,
.dropdown-menu-new > li a:link,
.dropdown-menu-new > li a:visited {
    font-size: 13px;
    margin: 0;
    padding: 2px 20px;
    text-decoration: none;
    background-color: #fff !important;
    color: #676a6c;
}

.dropdown-menu-new > li a:hover,
.dropdown-menu-new > li a:active,
.dropdown-menu-new > li a:focus {
    background: #ecf6fd !important;
    color: #676a6c !important;
}

.dropdown-menu-new > li a i {
    margin-right: 6px;
}

.dropdown-menu-new .title {
    color: #ccc !important;
    padding: 0 20px !important;
    font-size: 8px !important;
}

.dropdown-menu-new .title:hover,
.dropdown-menu-new .title:active,
.dropdown-menu-new .title:focus {
    background: #fff !important;
    color: #ccc !important;
}

.dropdown-menu-new .lineLeft:before {
    content: "";
    border-top: 1px solid #ededed;
    display: block;
    position: absolute;
    left: 0;
    width: 15px;
    top: 12px;
}

.dropdown-menu-new .lineRight:after {
    content: "";
    border-top: 1px solid #ededed;
    display: block;
    position: absolute;
    left: 75px;
    right: 0;
    top: 12px;
}

.dropdown-menu-new .divider {
    height: 1px;
    margin: 0 0 2px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

/* dropdown-menu-v1 */
.dropdown-menu-v1 {
    box-shadow: 0 0 10px rgba(86, 96, 117, 0.7);
    /*margin-top: -2px !important;*/
}

/*.dropdown-menu-v1:after {
    top: -6px;
    width: 0;
    height: 0;
    left: 60px;
    content: " ";
    display: block;
    position: absolute;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-left-style: inset; !*FF fixes*!
    border-right-style: inset; !*FF fixes*!
}*/

.dropdown-menu-v1 > li {
    margin: 0 0 2px 0;
}

.dropdown-menu-v1 > li:first-child {
    margin: 2px 0 2px 0;
}

.dropdown-menu-v1 > li a,
.dropdown-menu-v1 > li a:link,
.dropdown-menu-v1 > li a:visited {
    font-size: 13px;
    margin: 0;
    /*padding: 4px 20px;*/
    text-decoration: none;
    background-color: #fff !important;
    color: #676a6c;
}

.dropdown-menu-v1 > li a:hover,
.dropdown-menu-v1 > li a:active,
.dropdown-menu-v1 > li a:focus {
    background: #ecf6fd !important;
    color: #676a6c !important;
}

.dropdown-menu-v1 > li a i {
    margin-right: 6px;
}

.dropdown-menu-v1 .title {
    color: #ccc !important;
    padding: 0 20px !important;
    font-size: 8px !important;
}

.dropdown-menu-v1 .title:hover,
.dropdown-menu-v1 .title:active,
.dropdown-menu-v1 .title:focus {
    background: #fff !important;
    color: #ccc !important;
}

.dropdown-menu-v1 .lineLeft:before {
    content: "";
    border-top: 1px solid #ededed;
    display: block;
    position: absolute;
    left: 0;
    width: 15px;
    top: 15px;
}

.dropdown-menu-v1 .lineRight:after {
    content: "";
    border-top: 1px solid #ededed;
    display: block;
    position: absolute;
    left: 75px;
    right: 0;
    top: 15px;
}

.dropdown-menu-v1 .divider {
    height: 1px;
    margin: 0 0 2px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

/* toastr */
#toast-container {
    top: 78px;
}

#toast-container > .toast {
    background-image: none !important;
    min-height: 58px;
}

#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 24px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}

#toast-container > .toast-warning:before {
    content: "\f0e7";
}

#toast-container > .toast-error:before {
    content: "\f071";
}

#toast-container > .toast-info:before {
    content: "\f005";
}

#toast-container > .toast-success:before {
    content: "\f00C";
}

#toast-container > div {
    /*-moz-box-shadow: 0 0 3px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;*/
    -moz-box-shadow: 0 0 10px rgba(86, 96, 117, 0.7);
    -webkit-box-shadow: 0 0 10px rgba(86, 96, 117, 0.7);
    box-shadow: 0 0 10px rgba(86, 96, 117, 0.7);
    opacity: .9;
    -ms-filter: alpha(opacity=90);
    filter: alpha(opacity=90);
}

#toast-container > :hover {
    -moz-box-shadow: 0 0 10px rgba(86, 96, 117, 0.7);
    -webkit-box-shadow: 0 0 10px rgba(86, 96, 117, 0.7);
    box-shadow: 0 0 10px rgba(86, 96, 117, 0.7);
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}

.toast {
    min-height: 54px;
    background-color: #1ab394;
}

.toast-success {
    background-color: #1ab394;
}

.toast-error {
    background-color: #ed5565;
}

.toast-info {
    background-color: #23c6c8;
}

.toast-warning {
    background-color: #f8ac59;
}

.toast-top-full-width {
    margin-top: 20px;
}

.toast-bottom-full-width {
    margin-bottom: 20px;
}

.toast .toast-message {
    line-height: 24px;
}

/* MARGINS & PADDINGS */
.p-xxs {
    padding: 5px;
}
.p-xs {
    padding: 10px;
}
.p-sm {
    padding: 15px;
}
.p-m {
    padding: 20px;
}
.p-md {
    padding: 25px;
}
.p-lg {
    padding: 30px;
}
.p-xl {
    padding: 40px;
}
.p-w-xs {
    padding: 0 10px;
}
.p-w-sm {
    padding: 0 15px;
}
.p-w-m {
    padding: 0 20px;
}
.p-w-md {
    padding: 0 25px;
}
.p-w-lg {
    padding: 0 30px;
}
.p-w-xl {
    padding: 0 40px;
}
.p-h-xs {
    padding: 10px 0;
}
.p-h-sm {
    padding: 15px 0;
}
.p-h-m {
    padding: 20px 0;
}
.p-h-md {
    padding: 25px 0;
}
.p-h-lg {
    padding: 30px 0;
}
.p-h-xl {
    padding: 40px 0;
}
.p-10-15-0{padding: 10px 15px 0;}
.m-xxs {
    margin: 2px 4px;
}

.m {
    margin: 15px;
}
.m-xs {
    margin: 5px;
}
.m-sm {
    margin: 10px;
}
.m-md {
    margin: 20px;
}
.m-lg {
    margin: 30px;
}
.m-xl {
    margin: 50px;
}
.m-n {
    margin: 0 !important;
}
.m-l-none {
    margin-left: 0;
}
.m-l-xs {
    margin-left: 5px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-l {
    margin-left: 15px;
}
.m-l-md {
    margin-left: 20px;
}
.m-l-lg {
    margin-left: 30px;
}
.m-l-xl {
    margin-left: 40px;
}
.m-l-n-xxs {
    margin-left: -1px;
}
.m-l-n-xs {
    margin-left: -5px;
}
.m-l-n-sm {
    margin-left: -10px;
}
.m-l-n {
    margin-left: -15px;
}
.m-l-n-md {
    margin-left: -20px;
}
.m-l-n-lg {
    margin-left: -30px;
}
.m-l-n-xl {
    margin-left: -40px;
}
.m-t-none {
    margin-top: 0;
}
.m-t-xxs {
    margin-top: 1px;
}
.m-t-xs {
    margin-top: 5px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t {
    margin-top: 15px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-25{margin-top: 25px;}
.m-t-lg {
    margin-top: 30px;
}
.m-t-xl {
    margin-top: 40px;
}
.m-t-n-xxs {
    margin-top: -1px;
}
.m-t-n-xs {
    margin-top: -5px;
}
.m-t-n-sm {
    margin-top: -10px;
}
.m-t-n {
    margin-top: -15px;
}
.m-t-n-md {
    margin-top: -20px;
}
.m-t-n-lg {
    margin-top: -30px;
}
.m-t-n-xl {
    margin-top: -40px;
}
.m-r-none {
    margin-right: 0;
}
.m-r-xxs {
    margin-right: 1px;
}
.m-r-4{ margin-right:4px!important;}
.m-r-xs {
    margin-right: 5px;
}
.m-r-sm {
    margin-right: 10px;
}
.m-r {
    margin-right: 15px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
    margin-right: 30px;
}
.m-r-xl {
    margin-right: 40px;
}
.m-r-n-xxs {
    margin-right: -1px;
}
.m-r-n-xs {
    margin-right: -5px;
}
.m-r-n-sm {
    margin-right: -10px;
}
.m-r-n {
    margin-right: -15px;
}
.m-r-n-md {
    margin-right: -20px;
}
.m-r-n-lg {
    margin-right: -30px;
}
.m-r-n-xl {
    margin-right: -40px;
}
.m-b-none {
    margin-bottom: 0;
}
.m-b-xxs {
    margin-bottom: 1px;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-b-sm {
    margin-bottom: 10px;
}
.m-b {
    margin-bottom: 15px;
}
.m-b-md {
    margin-bottom: 20px;
}
.m-b-25{margin-bottom: 25px;}
.m-b-lg {
    margin-bottom: 30px;
}
.m-b-xl {
    margin-bottom: 40px;
}
.m-b-n-xxs {
    margin-bottom: -1px;
}
.m-b-n-xs {
    margin-bottom: -5px;
}
.m-b-n-sm {
    margin-bottom: -10px;
}
.m-b-n {
    margin-bottom: -15px;
}
.m-b-n-md {
    margin-bottom: -20px;
}
.m-b-n-lg {
    margin-bottom: -30px;
}
.m-b-n-xl {
    margin-bottom: -40px;
}
.p-t-xs{padding-top:5px;}
.p-t-sm{padding-top:10px;}
.p-l-15{padding-left:15px;}
.space-10{
    margin: 10px 0;
}
.space-15 {
    margin: 15px 0;
}
.space-20 {
    margin: 20px 0;
}
.space-25 {
    margin: 25px 0;
}
.space-30 {
    margin: 30px 0;
}
.img-sm {
    width: 32px;
    height: 32px;
}
.img-md {
    width: 64px;
    height: 64px;
}
.img-lg {
    width: 96px;
    height: 96px;
}
.b-r-xs {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.b-r-sm {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.b-r-md {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.b-r-lg {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.b-r-xl {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}


/* table sort -------------------------------------------------------------*/
.table > thead > tr > th.field-sortable:hover {
    cursor: pointer;
}

.table > thead > tr > th.field-sorted-asc > span.field-sort-indicator:before {
    content: "\f0de";
    color: #217ebd;/*#4765a0*/
}

.table > thead > tr > th.field-sorted-desc > span.field-sort-indicator:before {
    content: "\f0dd";
    color: #217ebd;
}

.table > thead > tr > th > span.field-sort-indicator {
    display: inline-block;
    speak: none;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    float:right;
    padding-left: 10px;
}

.table > thead > tr > th > span.field-sort-indicator:before {
    content: "\f0dc";
    color: #ccc;
}
/*uploadmgr*/
.uploadmgr {
    border-top: solid 1px #eee !important;
}

.btn-u-green2{
    background: #72c02c;
}

.btn-u-green2:hover,.btn-u-green2:focus,.btn-u-green2:active,.btn-u-green2.active{
    background: #5fb611;
}

.uploadmgr .upload-item-list{
    margin: 10px 0 0 0;
    padding: 10px 10px 0 0;
    max-height: 230px;
    overflow: scroll;
}

.uploadmgr .webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: inherit;
    /* background: #00b7ee; */
    /* padding: 10px 15px; */
    /* color: #fff; */
    /* text-align: center; */
    /* border-radius: 3px; */
    /* overflow: hidden; */
}
.uploadmgr .webuploader-pick {
    background: #e67e22 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

.uploadmgr .webuploader-pick-hover{
    /*background: #d35400 !important;*/
    background: #e67e22 !important;
}

.uploadmgr .btn-select{
    background: #e67e22 !important;
}

.uploadmgr .btn-select:hover{
    background: #e67e22 !important;
}