<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoding.admin.module.historyData.dao.ProjectMemberDAO">
    <select id="getProjectMember" parameterType="com.maoding.admin.module.historyData.dto.MemberQueryDTO" resultType="com.maoding.admin.module.historyData.model.ProjectMemberDO">
        select *
        from maoding_web_project_member a
        where
            (a.deleted is null or a.deleted=0)
            <if test="id!=null">
                and a.id=#{id}
            </if>
            <if test="companyId!=null">
                and a.company_id=#{companyId}
            </if>
            <if test="projectId!=null">
                and a.project_id=#{projectId}
            </if>
            <if test="memberType!=null">
                and a.member_type=#{memberType}
            </if>
        <include refid="com.maoding.admin.module.orgAuth.dao.CommonDAO.limitSQL"/>
    </select>
</mapper>