<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoding.admin.module.historyData.dao.CompanyDAO">
    <select id="getCompanyUserIdByCompanyIdAndUserId" parameterType="java.util.Map" resultType="java.lang.String">
        select
            a.id
        from
            maoding_web_company_user a
        where
            a.company_id=#{companyId} and a.user_id=#{userId}
        limit 1
    </select>
    <select id="listUserIdByCompanyIdAndPermissionId" parameterType="java.util.Map" resultType="java.lang.String">
        select a.user_id
        from
            maoding_web_user_permission a
        where
            a.company_id=#{companyId} and a.permission_id=#{permissionId}
        order by a.seq
    </select>
    <select id="getCompanyIdByCompanyNameAndUserName" parameterType="java.util.Map" resultType="java.lang.String">
        select h.id
        from
            maoding_web_company_user a
            inner join maoding_web_account b on (a.user_id=b.id)
            inner join maoding_web_company h on (a.company_id=h.id)
            left join maoding_web_business_partner i on (h.id=i.company_id)
            left join maoding_web_org_auth j on ((j.deleted is null or j.deleted=0) and h.id=j.id)
        where
            (b.status is null or b.status='0')
            and (h.status is null or h.status='0')
            and (a.user_name=#{userName} or b.user_name=#{userName})
            and (h.company_name=#{companyName} or h.company_short_name=#{companyName} or i.nick_name=#{companyName} or j.org_name=#{companyName})
        limit 1
    </select>
    <select id="getCompanyIdByCompanyNameForA" parameterType="java.util.Map" resultType="java.lang.String">
        select a.id
        from
            maoding_web_project_construct a
        where
            (a.company_name=#{companyName}) and (a.company_id=#{relateCompanyId})
        limit 1
    </select>
    <select id="getCompanyIdByCompanyNameForB" parameterType="java.util.Map" resultType="java.lang.String">
        select h.id
        from
            (       select
                        x.id as id,
                        x.company_name as company_name,
                        x.company_short_name as company_short_name
                    from
                        maoding_web_company x
                    where (x.status is null or x.status='0')
                        and (x.id = #{relateCompanyId})
                union
                    select
                        x.id as id,
                        x.company_name as company_name,
                        x.company_short_name as company_short_name
                    from
                        maoding_web_company_relation a
                        inner join maoding_web_company x on (a.org_pid = x.id)
                    where
                        (x.status is null or x.status='0')
                        and (a.org_id = #{relateCompanyId})
                union
                    select
                        x.id as id,
                        x.company_name as company_name,
                        x.company_short_name as company_short_name
                    from
                        maoding_web_company_relation a
                        inner join maoding_web_company_relation b on (a.org_pid = b.org_id)
                        inner join maoding_web_company x on (b.org_pid = x.id)
                    where
                        (x.status is null or x.status='0')
                        and (a.org_id = #{relateCompanyId})
                union
                    select
                        x.id as id,
                        x.company_name as company_name,
                        x.company_short_name as company_short_name
                    from
                        maoding_web_company_relation a
                        inner join maoding_web_company_relation b on (a.org_pid = b.org_id)
                        inner join maoding_web_company_relation c on (b.org_pid = c.org_id)
                        inner join maoding_web_company x on (c.org_pid = x.id)
                    where
                        (x.status is null or x.status='0')
                        and (a.org_id = #{relateCompanyId})
            ) h
            left join maoding_web_business_partner i on (h.id=i.company_id)
            left join maoding_web_org_auth j on ((j.deleted is null or j.deleted=0) and h.id=j.id)
        where
            (h.company_name=#{companyName} or h.company_short_name=#{companyName} or i.nick_name=#{companyName} or j.org_name=#{companyName})
        limit 1
    </select>
</mapper>